# Explicitly allow the local Next.js build artifacts to pass through to the cloud container
!frontend/out/
!frontend/out/**

# Ignore high-volume local dependencies and source artifacts
frontend/node_modules/
frontend/.next/
.git/
.gitignore
